<!DOCTYPE html>
<html>
<head>
  <title>CodeSnippet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <!--    以下で読み込む-->
  <%= javascript_import_module_tag 'controllers/application' %>

</head>

<body>
<%#= yield %>

<v-app id="app">
  <!--スニペットタイトルリスト-->
  <div class="container" v-for="snippet in this.allSnippet" :key="snippet.id">
    <div class="snippet-left">
      <!--言語絞り込み-->
      <div class="comp-select-snippet" v-for="language in this.allLanguage" :key="language.id">
        <div><p class="obj-middle-title">言語を選択</p></div>
        <div class="lay-select-language-form">
          <div class="obj-selected_language">選択して下さい</div>
          <div class="obj-icon-row-arrow"></div>
        </div>
      </div>
      <!--スニペットタイトル一覧-->
      <div class="comp-snippet-title-list">
        <p class="obj-middle-title">ショートカットリスト</p>
        <div class="comp-snippet-title">
          <div class="lay-snippet-title">
            <span>【{{ snippet.language }}】</span>
            <span>{{ snippet.title }}</span>
          </div>
        </div>
      </div>
    </div>

    <!--スニペットリスト-->
    <div class="snippet-right">
      <!--スニペット検索-->
      <div class="lay-search-snippet">
        <div>
          <a class="obj-new-snippet blue-btn">Snippetを作成する</a>
        </div>
        <div class="comp-snippet-search-form">
          <a class="obj-middle-title">言語を検索</a>
          <from class="obj-snippet-search_form">言語を入力</from>
        </div>
      </div>
      <!--スニペットカード一覧-->
      <div class="lay-snippet-card-list">
        <!--スニペットカード 以下繰り返して表示する-->
        <div class="lay-snippet-card">
          <!--タイトル-->
          <p class="obj-snippet-title">【{{ snippet.language }}】{{ snippet.title }}</p>
          <!--コンテンツ-->
          <p class="obj-snippet-contents">{{ snippet.contents }}</p>
          <!--ボタン-->
          <div class="lay-snippet-option">
            <div class="lay-snippet-card-btn">
              <a class="obj-snippet-card-edit red-btn">編集</a>
              <a class="obj-snippet-card-delete blue-btn">削除</a>
            </div>

            <a class="obj-snippet-card-top">トップに戻る</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</v-app>
</body>
</html>
